<!DOCTYPE html>

<html lang="pt-br">

	<head>
		<meta charset="UTF-8"/>
		<title>Creche Tia Carminha</title>
		<link rel="stylesheet" type="text/css" href="../assets/css/estilo.css"/>
	</head>

	<body>
		<div id="interface">
			<header id="cabecalho">
				<img src="../assets/imagens/creche-logobranca-pequeno.png"/>
				<nav id="menu">
					<ul>
						<li><a href="../index.html">Início</a></li>
						<li><a href="quem-somos.html">Quem somos</a></li>
						<li><a href="metodologia.html">Metologia</a></li>
						<li><a href="seja-um-apoiador.html">Seja um apoiador</a></li>
					</ul>		
				</nav>
			</header>
		</div>
		<footer id="rodape">
		

			<p>Av. Comandante Che Guevara, nº 84 - Conjunto Hab. do Vale do Jat. - Eliana Silva / BH - MG</br>
			Tel: (31)993947923 / Email: crechetiacarminha@gmail.com</p>
			<p id="por">Site por: Lorrayne Antonielle</p>
		
		</footer>	
	</body>

</html>