<!DOCTYPE html>
<html lang "pt-br">
<head>
<meta charset="UTF-8"/>
<title>
Creche Tia Carminha
</title>
<link rel="stylesheet" type="text/css" href="ss/estilo.css"/>

</head>
<body>
<div id="interface">
	<header id="cabecalho">
		<img src="_imagens/creche-pequena.jpg"/>
		<nav id="menu">
			<ul>
				<li><a href="index.html">Início</a></li>
				<li><a href="quem-somos.html">Quem somos</a></li>
				<li><a href="metodologia.html">Metologia</a></li>
				<li><a href="seja-um-apoiador.html">Seja um apoiador</a></li>
			</ul>		
		</nav>
	
	</header>
	
</div>
</body>
<footer id="rodape">
	

	<p>Av. Comandante Che Guevara, nº 84 - Conjunto Hab. do Vale do Jat. - Eliana Silva / BH - MG</br>
	Tel: (31)993947923 / Email: crechetiacarminha@gmail.com</p>
	<p id="por">Site por: Lorrayne Antonielle</p>

</footer>
</html>