@charset "UTF-8";


/* home */

body {
    background-color: #fffac4;
}
.navbar {
    padding-top: 0;
    background-color: #FFF475 ;
}

.link-navbar {
    color: red;
}
.link-navbar:hover {
    color:orange;
}

.navbar-collapse {
    flex-grow: 0.1;
}

.logo {
    padding:10px;
    margin-left: 100px;
}
.img-carrossel {
    margin-top: 120px;
}

.btn-primary {
    background-color: #f9bcb9;  
    border-color: #67b7b3;
}

.btn-primary:hover {
    background-color:#67b7b3 ;
    border-color: #67b7b3;
}

/* CARDS */
.fundo-card {
    padding:50px;
    background-color: #ffd494;
    padding: 90px;
}
.card {
    border-radius: 8px;
    background-color: #ffffff;

}
.cards-home {
    padding: 40px;
    
}

/* CALENDARIO */

section {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 55vh;
    /* background-image: url("baixados.png"); */
    background-color: white;
    overflow: hidden;
}
.box-calendario {
    position: relative;
    z-index: 1000;
}
.container-calendario {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 20px 3px rgb(5 5 5 / 37%);
    border: 1px solid rgba(0, 0, 0, 0);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
}

.area1-home {
    padding:50px;
    /* margin: 20px; */
    font-size: 18px;
    text-align: justify;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    margin:20px !important;
}

.fundo {
    background-color: #67b7b3;
}

.texto-sobre {
    padding: 20px;
}

a {
    text-decoration: none;
    color: orange;
}

/* footer */

.footer {
    background-color: #fff47573;
}

.h4-footer {
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 0;
    margin-top: 20px;
    color: red;
    text-align: center;
}
.p-footer {
    text-align: center;
    display: inline;
    font-size: 16;
    font-weight: 500;
    color:orange;
}

ul {
    text-align: center;
    display: inline;
    color: orange;
}

li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}

.redes-sociais {
    margin:8px;
}

.logos-footer {
    max-width: 80px;
    padding: 10px 0px 0px 20px;
}

.area-logos {
    background-color: #FFF475;
}



.copyright {
    text-align: center;
    
}
.img-sobre {
    max-width: 100%;
}
.btn {
    font-size: 18px;
    border-radius: 50px;
    height: 50px;
    color: red;
    border-color: red;
    margin: 20px;
    font-family: 'Shadows Into Light', cursive;
}
.btn:hover {
    background-color: orange;
    border-color: orange;
}

